.about-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 8rem 2rem;
  gap: 10rem;
  flex-wrap: wrap;
  background-color: #eaf6f6; ;
  border-radius: 10px;
  margin: 2rem;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
}
.dark .about-container{
  background-color: #1C1C1C;
  color: white;
}


.about-image img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #4a90e2;
}

.about-text {
  max-width: 500px;
  text-align: left;
  flex: 1;
}

.about-text h2 {
  font-size: 1.6rem;
  color: #f76b8a;
  margin-bottom: 0.8rem;
  font-weight: bold;
}

.about-text p {
  font-size: 1.2rem;
  color: black;
  line-height: 1.6;
}
.dark .about-text p{
  color: white;
}
.about-misson-vison{
  display: flex;
  gap: 10rem;
  margin-top: 5rem;
}


.dark .about-misson-vison{
  background-color: black;
}

.about-misson, .about-vision{
  border: solid 2px blue;
  border-radius: 10px;
  flex: 1;
  margin-left: 20px;
  margin-right: 20px;
  padding: 20px;
  line-height: 1.6;
  background: #eaf6f6;;
}
.about-misson h2, .about-vision h2 {
  color: #f76b8a;
}
.dark .about-misson {
  background-color: black;
  color: white;
} 
.dark .about-vision{
  background-color: black;
  color: white;
} 
.our-partners {
  border: 2px solid #6A0DAD; /* Royal purple border */
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  padding: 30px;
  margin: 40px auto;
  background-color: #f0f8ff; 
}

.partners-title {
  text-align: center;
  color: #f76b8a; 
  margin: 40px 0 20px 0;
  font-size: 2rem;
  font-weight: bold;
}
.dark .partners-title{
  color: #f76b8a;
}
.dark .our-partners{
  background-color: black;
}

.our-partners h2 {
  text-align: center;
  color: #1C1C1C; 
  margin-top: 15px;
  font-size: 1.1rem;
}

.dark .our-partners h2{
  color: white;
}

.our-partners img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #4a90e2; 
  margin: 0 auto;
  display: block;
  transition: transform 0.3s ease;
  gap: 100px;
}

.our-partners img:hover {
  transform: scale(1.05);
}


/* Responsive tweak */
@media (max-width: 768px) {
  .about-container {
    flex-direction: column;
    text-align: center;
  }

  .about-text {
    text-align: center;
  }
}
