.featured-books {
  padding: 2rem;
  text-align: center;
}
.book-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 2rem;
}

.book-card {
    
  background-color: white;
  padding: 1rem;
  width: 200px;
  margin-right: 100px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.book-card:hover {
  transform: scale(1.05);
}

.book-card img {
  width: 100%;
  height: auto;
  border-radius: 6px;
}

.book-card h4 {
  margin-top: 0.8rem;
  font-size: 1rem;
  color: #333;
}
