.popular-this-week h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    margin-top: 3rem;
    font-weight: bold;
    color: black;
    text-align: center;

}

.dark.popular-this-week {
    background-color: black;
    color: white;
}

.dark.popular-this-week h1 {
    color: white;
}