.book-title2{
    margin-top: 100px;
}

.book-title2 h1{
    color: #f76b8a;
    
}
.book-title3{
    margin-top: 100px;
}
.book-title3 h1{
    color: #f76b8a;
}
.book-title4{
    margin-top: 100px;
}
.book-title4 h1{
    color: #f76b8a;
}